
## IDEA
*.html
*.iml
*.pdf
*.redxml
*.swp
*.txt
*.upload
*~
.idea/*
.tags
/*-[0-9][0-9].xml
/.*.mk
/.gems/
/.refcache
/.targets.mk
/.venv/
/.vscode/
/lib
/node_modules/
/versioned/
Gemfile.lock
archive.json
draft-ietf-spice-oidc-cwt.xml
draft-maldant-spice-oidc-cwt.xml
package-lock.json
report.xml
!requirements.txt
!versioned/draft-maldant-spice-oidc-cwt-00.xml
!versioned/draft-maldant-spice-oidc-cwt-01.xml
!versioned/draft-maldant-spice-oidc-cwt-02.xml
